node_modules/
user-service/package-lock.json
auth-service/package-lock.json
profile-service/package-lock.json
rating-service/package-lock.json
topic-service/package-lock.json
.serverless/
auth-service/dist/
user-service/dist/
profile-service/dist/
rating-service/dist/
topic-service/dist/
.dynamodb